<div class="container">
	<div class="card box-shadow">        
		<div class="col-xs-12 col-md-12 text-center">
    		<h4 class="card-title"> 
				 ¡Gracias por tu interés en contactarnos! 
			</h4>
       	<p class="card-subtitle">
        		En <span class="text-primary bold">Softer</span> 
          	contamos con expertos para la creación de interfaces y soluciones tecnologícas totalmente personalizadas.
      	</p>                       
   	</div>        
 		<div class="row">   
   		<div class="col-xs-12 col-sm-12 col-md-6">
         	<div class="card-block margin-10">
              	<legend>Medios de Contacto</legend>                            
           		<div class="card-block">                                
             		<h6 class="text-primary card-subtitle">
							 <b><i class="fa fa-envelope-o" aria-hidden="true"></i> Correo</b>
						</h6>
             		<p class="card-text">info@softer-tech.com</p>
            	</div>
           		<div class="card-block">
             		<h6 class="text-primary card-subtitle">
							 <b><i class="fa fa-phone" aria-hidden="true"></i> Télefono</b>
						</h6>
              		<p class="card-text">+52 (81) 17-37-79-16 </p>
            	</div>
        			<div class="card-block">
             		<h6 class="text-primary card-subtitle"><b><i class="fa fa-map-marker" aria-hidden="true"></i> Dirección</b></h6>
               		<p class="card-text">
                       	Av. Mixcoac <br>
                       	Colonia Josefa Zozaya 2do Sector <br>
                    		C.P. 67114<br>
                    		Guadalupe, Nuevo León
                  	</p>
              	</div>
           		<div class="text-center">
               	<p class="bold text-info">Búscanos en redes sociales</p>
              		<ul class="social-network social-circle">                  	
                     <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  	<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  	<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                  	<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                  </ul>                                   
              	</div>
        		</div>
     		</div>      
        	<div>
        		<div class="col-xs-12 col-sm-12 col-md-6">
             	<div class="card-block">
              		<app-contact-form></app-contact-form>
					</div>
            </div>            
        </div>        
	</div>
</div>