<nav class="navbar navbar-inverse">
	<div class="container-fluid">
  		<div class="navbar-header">
			<a class="navbar-brand" routerLink="/home">
				<img src="..\..\..\assets\images\fullRed-softer.png" alt="">
			</a>
			<button type="button" class="navbar-toggle collapsed" 
				data-toggle="collapse" data-target="#nv-coll">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>      
    	</div>
    	<div class="collapse navbar-collapse" id="nv-coll">
			<ul class="nav navbar-nav navbar-right">
				<!--Inicio-->
				<li routerLinkActive="active fs-15">
					<a routerLink="/home">
						<i class="fa fa-home"></i> Inicio
					</a>          
				</li>   
				<!--Nosotros-->     
				<li routerLinkActive="active fs-15">
					<a routerLink="/aboutus">
						<i class="fa fa-users"></i> Nosotros
					</a>
				</li>      
				<!--Soluciones-->
				<li routerLinkActive="active fs-15">
					<a routerLink="/tech">
						<i class="fa fa-suitcase"></i> Soluciones
					</a>
				</li>   
				<!--Contacto-->
				<li routerLinkActive="active fs-15">
					<a routerLink="/contact">
						<i class="fa fa-address-card"></i> Contacto
					</a>
				</li>
			</ul>
    	</div>
	</div>
</nav>