.navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
    padding: 2px;    
    width: auto;
  }  

.borderlist {
    list-style-position:inside;
    border: .2px solid rgba(153, 147, 147, 0.459);
}
nav .active{
    font-weight: bold;
}

.fs-15{
    font-size: 15px;
}

.divider-vertical {
    height: 60px;        
    border-left: .5px solid rgba(242, 242, 242, 0.678);
    border-right: .5px solid rgba(242, 242, 242, 0.678);
    }
.hg-200{
    height: 200px;    
}