<form class="form-horizontal">
	<fieldset>
  		<legend class="padd-4">
         Escríbenos, nos encantaría saber de ti                        
   	</legend>                              
      <div class="form-group margin-10">
         <label for="itName" class="col-lg-2 control-label">
   			Nombre<span class="text-primary">*</span>
 			</label>
      	<div class="col-lg-10">
            <input type="text" class="form-control" id="itName" placeholder="Nombre Completo">                                 
       	</div>
      </div>
      <div class="form-group margin-10">
         <label for="inputEmail" class="col-lg-2 control-label">
				Correo<span class="text-primary">*</span>
			</label>
         <div class="col-lg-10">
             <input type="text" class="form-control" id="inputEmail" placeholder="Correo Electrónico">
       	</div>
    	</div>  
    	<div class="form-group margin-10">
      	<label for="inputEmail" class="col-lg-2 control-label">
				Télefono
			</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Télefono">
        	</div>
   	</div>
      <div class="form-group margin-10">
     		<label for="textArea" class="col-lg-2 control-label">
				  Asunto<span class="text-primary">*</span>
			</label>
     		<div class="col-lg-10">
          	<textarea class="form-control" rows="3" id="textArea"></textarea>
      		<span class="help-block">Breve descripción de como podemos ayudarte</span>
     		</div>
    	</div>                            
  		<div class="form-group">
      	<div class="col-lg-10 col-lg-offset-8">                                  
       		<button type="submit" class="btn btn-primary margin-10">
					 Enviar <i class="fa fa-paper-plane" aria-hidden="true"></i>
				</button>
     		</div>
    	</div>
   </fieldset>
</form>